*{
    margin: 0;
    padding: 0;
}
body{
    width: 98vw;
}
.container{
    max-width: 720px;

    
}

#current img{
    width: 100%;
}

#item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
}
.items{
    width: 100%;
    
}

